@import '../../style/index';

@multi-tab-prefix-cls: ~'@{ant-pro-prefix}-multi-tab';
@multi-tab-wrapper-prefix-cls: ~'@{ant-pro-prefix}-multi-tab-wrapper';

/*
.topmenu .@{multi-tab-prefix-cls} {
  max-width: 1200px;
  margin: -23px auto 24px auto;
}
*/
.@{multi-tab-prefix-cls} {
  margin: -23px -24px 24px -24px;
  background: #fff;
}

.topmenu .@{multi-tab-wrapper-prefix-cls} {
  max-width: 1200px;
  margin: 0 auto;
}

.topmenu.content-width-Fluid .@{multi-tab-wrapper-prefix-cls} {
  max-width: 100%;
  margin: 0 auto;
}

// 增大右键点击范围
.ant-pro-multi-tab-wrapper .ant-tabs-tab {
  padding: 0 !important;
  > div {
    position: relative;
    .ant-dropdown-trigger {
      padding: 12px 32px 12px 16px;
    }
    i {
      position: absolute;
      right: 16px;
      top: 13.5px;
    }
    &.ant-tabs-tab-unclosable {
      .ant-dropdown-trigger {
        padding: 12px 16px;
      }
    }
  }
}
