// The prefix to use on all css classes from ant-pro.
@ant-pro-prefix: ant-pro;
@ant-global-sider-zindex: 106;
@ant-global-header-zindex: 105;

@primary-color: #1890ff;
@screen-xs: 480px;
@screen-sm: 576px;
@screen-md: 768px;
@screen-lg: 992px;
@screen-xl: 1200px;
@screen-xxl: 1600px;
@text-color-secondary: rgba(0, 0, 0, 0.45);
